{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #000;
            color: #fff;
            font-family: Arial, sans-serif;
        }

        canvas {
            border: 2px solid #fff;
        }
    </style>
</head>
<body>
    <div id="leftScore" style="position: absolute; left: 50%; transform: translateX(-50%); top: 10px;">0</div>
    <div id="rightScore" style="position: absolute; left: 50%; transform: translateX(-50%); top: 30px;">0</div>
    <canvas id="pongCanvas" width="600" height="400"></canvas>
    <button id="startButton">Start</button>
    <script src="{% static 'pong/pong.js' %}"></script>
</body>
</html>

