{% load static %}

{% include "pong/header.html" %}

<div id="content">
    <div id="scoreBoard">
        <div id="leftScore" >0</div>
        <div id="rightScore">0</div>
    </div>
    <h2 id="gameOverMessage" style="display: none; position: absolute; top: 90%; left: 50%; transform: translate(-50%, -50%);">Game Over</h2>
    <div id="playerNames">
        <div id="leftPlayerName"></div>
        <div id="rightPlayerName"></div>
    </div>
    <canvas id="pongCanvas" width="600" height="400"></canvas>
</div>
<button id="startButton">Start game</button>