{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'pong/styles.css' %}">
    <title>Pong Game</title>
    <script>

        //  This function communicates with django (backend)
        
        function showSection(section) {   
                fetch(`/sections/${section}`)
                .then(response => response.text())
                .then(text => {
                    console.log(text);
                    document.querySelector('#content').innerHTML = text;
                });

            }

        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll('button').forEach(button => {
                button.onclick = function() {
                    showSection(this.dataset.section)
                }
            })
        });

    </script>
</head>
<body>
    <div class="header">
        <h1>Pong Game</h1>
        <img src="{% static 'pong/platypus.jpg' %}" alt="Portrait" style="width:50px;height:50px;">
        {% if not user.is_authenticated %}
        <button data-section="login">Login</button>
        <button data-section="login42">Login with 42</button>
        <button data-section="register">Register</button>
        {% else %}
        <form action="{% url 'userManagement:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% endif %}
    </div>
    <!-- Contents loaded from server is inserted here by javascript -->
    <div id="content">

    </div>

</body>