{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'pong/styles.css' %}">
    <title>Pong Game</title>
</head>
<body>
    {% csrf_token %}
    <!-- HEADER -->
    <h1>PONG GAME</h1>

    <!-- LOG IN -->
    <div id="loggedInMessage">Playing as: Guest</div>

    <div id="centeredContent">

        <!-- *** LANDING PAGE ***-->
        <div class="container" id="landingPage">
            <div class="item" onclick="handleClickLogin()" >Sign in / Register</div>
            <div class="item" onclick="handleClickPlay()">Play</div>
            <div class="item" onclick="handleClickShowDashboards()">Show Dashboards</div>
        </div>

        <!-- *** LOG IN / SIGN UP ***-->
        <div class="container" id="logInSignUpPage">
            <div class="item">Log in:
                <form id="loginForm">
                    <p>Enter your name to play the game</p>
                    <input type="text" id="username" placeholder="Enter your name" required>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="item">Sign up:
                <form id="signUpForm">
                    <p>Enter your name to play the game</p>
                    <input type="text" id="username" placeholder="Enter your name">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

        <!-- *** CHOOSE GAME ***-->
        <div class="container" id="chooseGamePage">
            <h3>Choose Game</h3>
            <div class="item" onclick="handleClickPlayAI()">Play against AI</div>
            <div class="item" onclick="handleClickPlayLocal()">Play 1v1 local</div>
            <div class="item" onclick="handleClickPlayRemote()">Play 1v1 online</div>
            <div class="item" onclick="handleClickPlayLocalTournament()">Play local Tournament (4p)</div>
            <div class="item" onclick="handleClickPlayRemoteTournament()">Play online Tournament (4p)</div>
        </div>

        <!--*** PLAYER OPTIONS ***-->
        <div class="containter" id="playerOptions2p">
            <form id="playerNamesForm">
                <input type="text" id="localPlayer1Name" placeholder="Player 1 Name" value="a" required><br>
                <input type="text" id="localPlayer2Name" placeholder="Player 2 Name" value="b" required><br>
                <input type="submit" id="submitLocalPlayerNames" value="Submit">
            </form>
        </div>

        <!-- *** PONG GAME ***-->
        <div class="container" id="pongGamePage">
            <div id="scoreBoard">
                <div id="leftScore" style="position: absolute; left: 50%; transform: translateX(-50%); top: 10px;">0</div>
                <div id="rightScore" style="position: absolute; left: 50%; transform: translateX(-50%); top: 30px;">0</div>
            </div>
            <h2 id="gameOverMessage" style="display: none; position: absolute; top: 90%; left: 50%; transform: translate(-50%, -50%);">Game Over</h2>
            <div id="playerNames">
                <div id="leftPlayerName"></div>
                <div id="rightPlayerName"></div>
            </div>
            <canvas id="pongCanvas" width="600" height="400"></canvas>
            <!-- <button id="reloadLocalGame"> Play again local game</button> -->
            <!-- <button id="reloadPlayOptions"> Back to play options</button> -->
        </div>

    </div>
    
    <script src="{% static 'pong/pong_local.js' %}"></script>
    <!-- <script src="{% static 'pong/script.js' %}"></script> -->
    
    <script>
        var username = "Guest";

        //////////////////////// *** LOG IN SIGN UP *** ////////////////////// 
        function handleClickLogin(itemText) {
            // hide landing page contents
            document.getElementById("landingPage").style.display = "none";
            // show loginSignUpPage
            document.getElementById("logInSignUpPage").style.display = "block";
        }

        document.getElementById('loginForm').addEventListener('submit', function(event) {
            // Prevent the form from being submitted to the server
            event.preventDefault();

            // Get the user's name from the input field
            var username = document.getElementById('username').value;
        
            // logic to check if the login is successful ....

            // show loggedInMessage
            document.getElementById('loggedInMessage').textContent = "Playng as: " + username;
            document.getElementById("loggedInMessage").style.display = "block";

            // redirect to landingPage
            document.getElementById("logInSignUpPage").style.display = "none";
            document.getElementById("landingPage").style.display = "block";
        });

        //////////////////////// *** CHOOSE GAME *** //////////////////////
        function handleClickPlay(itemText) {
            // hide landing page contents
            document.getElementById("landingPage").style.display = "none";
            // show chooseGamePage
            document.getElementById("chooseGamePage").style.display = "block";
        }

        function handleClickPlayLocal() {
            // hide chooseGamePage
            document.getElementById("chooseGamePage").style.display = "none";

            // show player options
            document.getElementById("playerOptions2p").style.display = "block";
        }

        document.getElementById('playerNamesForm').addEventListener('submit', function(event) {
            document.getElementById("playerOptions2p").style.display = "none";

            // Prevent the form from being submitted to the server
            event.preventDefault();

            // Get the user's name from the input field
            var player1Name = document.getElementById('localPlayer1Name').value;
            var player2Name = document.getElementById('localPlayer2Name').value;

            // show game and start
            document.getElementById("pongGamePage").style.display = "block";
            startLocalGame(player1Name, player2Name);
        });

    </script>
</body>
</html>
