{% extends 'pong/home.html' %}
{% load static %}
{% block title %}
PONG GAME
{% endblock %}

{% block content %}
    <div id="loggedInMessage">Playing as: {{ user.username }}</div>

    <div id="centeredContent">

        <!-- *** PONG GAME ***-->
        <div class="container" id="pongGamePage">
            <div id="scoreBoard">
                <div id="leftScore" >0</div>
                <div id="rightScore">0</div>
            </div>
            <h2 id="gameOverMessage" style="display: none; position: absolute; top: 90%; left: 50%; transform: translate(-50%, -50%);">Game Over</h2>
            <canvas id="pongCanvas" width="600" height="400"></canvas>
        </div>
        <button id="startButton">Start game</button>
    </div>
{% endblock %}
    <script src="{% static 'pong/pong_local.js' %}"></script>
    
    <script>
            const startButton = document.getElementById('startButton');
                if (startButton) {
                    startButton.addEventListener('click', function() {
                        startLocalGame('Player 1', 'Player 2');
                        console.log('Start button clicked');
                    });
                }
    </script>

