<!--users/templates/users/dashboard.html-->

{% include 'includes/navbar.html' %}
{% load socialaccount %}

<div  class="block">
	<h1 class="title is-1">Hello, {{ user.username|default:'Guest' }}!</h1>
    {% if user.is_authenticated %}
		<form method="post" action="{% url 'userManagement:logout' %}">
			{% csrf_token %}
			<button type="submit">logout</button>
		</form>
	{% else %}
		<a href="{% url 'userManagement:login' %}">Login</a>
		<a href="{% url 'userManagement:register_user' %}">Register</a>
		<a href="{% url 'userManagement:register_guest' %}">Continue as Guest</a>
		<a href="{% provider_login_url 'provider' %}">Sign In with 42</a>
	{% endif %}
</div>
