<!-- dwitter/templates/dwitter/profile_list.html -->

{% extends 'base.html' %}

{% block content %}

<div class="column">
  <h1 class="title is-1">All registered users</h1>
{% for user in registered_users %}

    <div class="block">
      <div class="card">
		<a href="{% url 'userManagement:profile' user.id %}">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="{{ user.profile.avatar.url }}"
                       alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">
                  {{ user.username }} 
                </p>
                <p class="subtitle is-6">
                  @{{ user.username|lower }}
                  {% if user.profile.logged_in is True  %}
                    <span style="color: green; font-size: 0.8em;">●</span> <!-- Green dot -->
                  {% else %}
                    <span style="color: red; font-size: 0.8em;">●</span> <!-- Red dot -->
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

{% endfor %}

</div>

{% endblock content %}