<!-- dwitter/templates/dwitter/profile_list.html -->

{% extends 'onepager/land.html' %}
{% block content %}

<div class="container my-4">
    <div class="card">
        <div class="card-header text-center text-white bg-purple">
            <h4>All profiles</h4>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                {% for user in registered_users %}
                                <tr class="profileOtherBtn">
                                    <td class="text-center">
                                        <img src="{{ user.profile.avatar.url }}" alt="avatar" class="rounded-circle" style="width: 50px; height: 50px;">
                                    </td>
                                    <td class="text-center">
                                        <button type="button"  class="btn buttonblue profileBtn" data-username="{{ user.username }}"> {{ user.username }}</button>
                                    </td>
                                    <td>
                                        {% if user.profile.logged_in is True  %}
                                        <span style="color: green; font-size: 0.8em;">●</span> <!-- Green dot -->
                                        {% else %}
                                        <span style="color: red; font-size: 0.8em;">●</span> <!-- Red dot -->
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalContainer"></div>

{% endblock %}

{% block extra_scripts %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.querySelectorAll(".profileBtn").forEach(button => {
        button.addEventListener("click", function() {
            console.log("profileOtherBtn clicked");
            // Fetch the profile page for the specific user associated with the clicked button
            const username = this.dataset.username; // Retrieve username from data attribute
            console.log(username);
            const url = `/profile/${username}/`; // Construct the URL with the username
            fetch(url)
         .then(response => response.text())
         .then(html => {
             document.getElementById("content").innerHTML = '';
             document.getElementById("content").innerHTML = html;
             executeJavaScriptInContent(html);
             })
             .catch(error => console.error('Error loading profiles page:', error));
             history.pushState(null, null, url);
    });
});
</script>
{% endblock %}
