<!-- dwitter/templates/dwitter/profile.html -->

{% extends 'base.html' %}

{% block content %}

<div class="column">
    <div class="block">
        <div class="media-left">
            <figure class="image is-128x128">
              <img src="{{ profile.avatar.url }}"
                   alt="Placeholder image">
            </figure>
        </div>
        {% if profile.user == request.user %}
            <a href="{% url 'userManagement:update_profile' %}">Change Profile Picture</a>
        {% endif %} 
    <h1 class="title is-1">
        {{profile.user.username}}'s Profile
        {% if profile.logged_in is True  %}
            <span style="color: green; margin-left: 5px; font-size: 0.5em;">Online</span>
        {% else %}
            <span style="color: red; margin-left: 5px; font-size: 0.5em;">Offline</span>    
        {% endif %}
    </h1>
    </div>
    {% if profile.user != request.user %}
	<form method="post">
		{% csrf_token %}
		<div class="buttons has-addons">
		{% if profile in user.profile.follows.all %}
			<button class="button is-success is-static">Follow</button>
			<button class="button is-danger" name="follow" value="unfollow">Unfollow</button>
		{% else %}
			<button class="button is-success" name="follow" value="follow">Follow</button>
			<button class="button is-danger is-static">Unfollow</button>
		{% endif %}
		</div>
	</form>
    {% endif %} 
    <div class="block">
        <h3 class="title is-4"><br>Personal Info:</h3>
        <div class="content">
            <ul>
                <li>username: {{profile.user.username}}</li>
                <li>first name: {{profile.user.first_name}}</li>
                <li>last name: {{profile.user.last_name}}</li>
                <li>registration date: {{profile.user.date_joined}}</li>
                <li>last login: {{profile.user.last_login}}</li>
                <li>ID: {{profile.user.id}}</li>
            </ul>
        </div>
        {% if profile.user == request.user %}
            <a href="{% url 'userManagement:update_user' %}">Update Profile Info</a>
            <a href="{% url 'userManagement:password_reset' %}">Reset password</a>
        {% endif %} 
    </div>
</div>

<div class="column is-one-third">
    {% if profile.user == request.user %}
    <div class="block">
        <form method="post" action="{% url 'userManagement:logout' %}">
			{% csrf_token %}
			<button type="submit">logout</button>
		</form>
    </div>
    {% endif %} 
    <div class="block">
		<a href="{% url 'userManagement:profile_list' %}">
            <button class="button is-dark is-outlined is-fullwidth">
                All Profiles
            </button>
        </a>
    </div>

    <div class="block">
        <h3 class="title is-4">
            {{profile.user.username}} follows:
        </h3>
        <div class="content">
            <ul>
            {% for following in profile.follows.all %}
                {% if profile.user != following.user %}
                    <li>
                        <a href="{% url 'userManagement:profile' following.id %}">
                            {{ following }}
                        </a>
                    </li>
                {% endif %} 
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="block">
        <h3 class="title is-4">
            {{profile.user.username}} is followed by:
        </h3>
        <div class="content">
            <ul>
            {% for follower in profile.followed_by.all %}
                {% if profile.user != follower.user %}
                    <li>
					    <a href="{% url 'userManagement:profile' follower.id %}">
                            {{ follower }}
                        </a>
                    </li>
                {% endif %} 
            {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock content %}
