{% load static %}
{% block content %}
<body>
<h1>{{ tm.tournament_id }}</h1>
<div class="tournament-container">
    <!-- Tournament name -->
    <div class="tournament-name" id="tournamentName">
        Tournament Name
    </div>

    <!-- Tournament rounds -->
    <div class="rounds" id="rounds">
        <!-- Rounds will be dynamically added here -->
    </div>
</div>
</body>
</html>
{% endblock %}


{% block extra_scripts %}
<script type="module">
	var tournament_data = JSON.parse('{{ tm_data | escapejs }}');

    const tournamentNameElement = document.getElementById('tournamentName');
    tournamentNameElement.textContent = '';
    tournamentNameElement.textContent = '{{tm_name}}';

    // Get rounds container
    const roundsContainer = document.getElementById('rounds');
    roundsContainer.textContent = '';

    // Iterate through rounds
    for (const roundKey in tournament_data) {
        const round = tournament_data[roundKey];

        // Create round element
        const roundElement = document.createElement('div');
        roundElement.classList.add('round');

        // Add round title
        const roundTitle = document.createElement('h2');
        roundTitle.classList.add('round-title');
        roundTitle.textContent = `Round ${parseInt(roundKey) + 1}`;
        roundElement.appendChild(roundTitle);

        // Create container for matches
        const matchesContainer = document.createElement('div');
        matchesContainer.classList.add('matches-container');

        // Iterate through matches in the round
        for (const matchKey in round) {
            const match = round[matchKey];
            // Create match element
            const matchElement = document.createElement('div');
            matchElement.classList.add('match');

            // Add match info
            const matchLink = document.createElement('a');
            matchLink.classList.add('match-info');

            if (match.winner !== "None") {
                matchLink.innerHTML = `<strong>${matchKey}</strong>: <br>Winner: ${match.winner} <br>Loser: ${match.loser}`;
            } else {
                matchLink.innerHTML = `<strong>${matchKey}</strong>: <br>Not played yet!`;
            }

            // Add a click event listener
            matchLink.addEventListener('click', function(event) {
                const statsURL = '/singleGameStats/?matchName=' + matchKey + '&username=' + match.winner;
		        fetch_with_internal_js(statsURL);
            });

            matchElement.appendChild(matchLink);

            // Append match to matches container
            matchesContainer.appendChild(matchElement);
        }

        // Append matches container to round
        roundElement.appendChild(matchesContainer);

        // Append round to rounds container
        roundsContainer.appendChild(roundElement);
    }
</script>
{% endblock %}