{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pong{% endblock %}</title>
    <!-- Add your CSS and JavaScript links here -->
    {% block styles %}
        <link rel="stylesheet" href="{% static 'pong/styles.css' %}">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <style>
        #navbar-container {
          display: none;
      }
      </style>
        {% endblock %}
    <!-- Add your JavaScript imports and scripts here -->
</head>
<body>
  <div id="navbar-container"></div>
  <div id="content">
    {% block content %}
    <!-- Content -->
    {% if user.is_authenticated %}
      {% include 'onepager/logged_in.html'%}
      {% else %}
      {% include 'onepager/stranger.html' %}
      {% endif %}

        <!-- Content will be dynamically loaded here -->
        {% endblock %}
    </div>

    <!-- Footer -->
    {% include 'includes/footer.html' %}
    {% block scripts %}

    {% endblock %}
    <script>


      </script>
</script>
</body>
</html>
