{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pong{% endblock %}</title>
    <!-- Add your CSS and JavaScript links here -->
    {% block styles %}
        <link rel="stylesheet" href="{% static 'pong/styles.css' %}">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'userManagement/styles.css' %}">
        {% endblock %}
        <!-- Add your JavaScript imports and scripts here -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script type="module" src="{% static 'userManagement/land.js' %}" ></script>
		<script>username = "{{ username }}"</script>
		<script>staticPath = "{% get_static_prefix %}";</script>
		<script>logoutUrl = "{% url 'userManagement:logout' %}"</script>
		<script>console.log("login:", "{% url 'userManagement:login' %}")</script>
        {% block extra_scripts %}
        {% endblock extra_scripts %}
</head>
<body>
	{% if user.is_authenticated %}
		<div id="navbar">
			{% include 'includes/navbar.html' %}
	  	</div>

		<div id="content">
			<h1>welcome {{user.username }}</h1>
			<section class="hero is-small is-success mb-4">
				<div class="hero-body"></div>
    		</section>
		</div>

	{% else %}
		<div id="navbar"></div>
		<div id="content">
			{% include 'onepager/stranger.html' %}
		</div>
	{% endif %}
	
     
  
      <!-- Footer -->
      <!-- {% include 'includes/footer.html' %} -->
      
      <!-- Bootstrap JS and dependencies (jQuery and Popper.js) -->

    </body>
</html>
