{% extends 'onepager/land.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}
  <div class="welcome-container">
    <h1>Welcome Stranger</h1>
  </div>
  <div class="image-container">
    <img src="{% static 'pong/michael.jpg' %}" alt="Image description">
  </div>
  <div class="button-container">
        <!-- Content for non-authenticated users -->
      <button type="button" class="button" id="loginBtn">Login</button>
      <button type="button" class="button" id="registerBtn">Register</button>
      <button type="button" class="button" id="guestBtn">Continue as Guest</button>
      <button type="button" class="button" id="42Btn">Sign In with 42</button>
    </div>
    <div id="modalContainer"></div>

{% endblock %}
<script src="{% static 'pong/history.js' %}"></script>
{% block extra_scripts %}
<script>
document.getElementById("loginBtn").addEventListener("click", function() {
    renderForm("{% url 'userManagement:login' %}", "loginModal", "Login");
});
document.getElementById("registerBtn").addEventListener("click", function() {
    renderForm("{% url 'userManagement:register_user' %}", "registerModal", "Register");
});
document.getElementById("guestBtn").addEventListener("click", function() {
    renderForm("{% url 'userManagement:register_guest' %}", "guestModal", "Continue as guest");
});
document.getElementById("42Btn").addEventListener("click", function() {
    window.location.href="{% provider_login_url 'provider' %}";
});

function loadLoggedInContent() {
    document.getElementById("all").innerHTML = '';
    fetch("/logged_in")
    .then(response => response.text())
    .then(html => {
        document.getElementById("all").innerHTML = html;
        executeJavaScriptInContent(html);
    })
    .catch(error => console.error('Error loading logged-in content:', error));
}

</script>
{% endblock %}
