{% load static %}
{% load socialaccount %}

<div class="welcome-container">
    <h1>Welcome Stranger</h1>
</div>

<div class="image-container">
	<img src="{% static 'pong_online/michael.jpg' %}" alt="Image description">
</div>
<form id="authForm" action="https://api.intra.42.fr/oauth/authorize" method="GET">
	<input type="hidden" name="client_id" value="u-s4t2ud-5a546a3e531a30c87d38c6c60fe9a6afd1cceca0c82fa47230b084c19685faa9">
	<input type="hidden" name="redirect_uri" value="http://localhost:8443/callback">
	<input type="hidden" name="response_type" value="code">
	<input type="hidden" name="scope" value="public">
	<input type="hidden" name="state" id="stateInput">
	<input type="hidden" name="prompt" value="consent">
	<div class="text-center">
		<button class="btn btn-success" type="submit">SignIn with 42</button>
	  </div>
  </form>

<pong-stranger data-loginUrl="{% url 'userManagement:login' %}"
	data-registerUrl="{% url 'userManagement:register_user' %}"
	data-guestUrl="{% url 'userManagement:register_guest' %}"
	data-remoteAuthUrl="{% provider_login_url 'provider' %}"></pong-stranger>
