{% load static %}

<div class="navbar navbar-light" style="background-color: #6a0dad;">
    <img src="{% static 'pong/pong_logo.png' %}" alt="Logo" class="logo">
      <div>
          <button class="navbar-button" id="gameBtn">Play</button>
          <button class="navbar-button" id="profileBtn">Dashboard</button>
        </div>

        <div>
            <button class="navbar-button" id="logoutBtn">Logout</button>
        </div>
    </div>

    <script>
      document.querySelector('.navbar').addEventListener('click', function(event) {
        const target = event.target;
        if (target.matches('.navbar-button')) {
            event.preventDefault();
            console.log(target.textContent + ' button clicked');
            switch (target.id) {
                case 'gameBtn':
                    fetch("/game")
                        .then(response => response.text())
                        .then(html => {
                            document.getElementById("content").innerHTML = html;
                            executeJavaScriptInContent(html);
                          })
                        .catch(error => console.error('Error loading game page:', error));
                    break;
                case 'profileBtn':
                    fetch("{% url 'userManagement:profile' %}")
                        .then(response => response.text())
                        .then(html => {
                            document.getElementById("content").innerHTML = html;
                            executeJavaScriptInContent(html);
                          })
                        .catch(error => console.error('Error loading profile page:', error));
                    break;
                case 'logoutBtn':
                    console.log('Logout button clicked');
                    fetch("{% url 'userManagement:logout' %}", {
                            method: "POST",
                            headers: {
                                "X-CSRFToken": getCookie("csrftoken")
                            }
                        })
                        .then(response => {
                            if (response.ok) {
                                document.getElementById("content").innerHTML = '';
                                fetch("/stranger")
                                    .then(response => response.text())
                                    .then(html => {
                                        document.getElementById("content").innerHTML = html;
                                        executeJavaScriptInContent(html);
                                      })
                                    .catch(error => console.error('Error loading content:', error));
                            } else {
                                console.error("Logout failed");
                            }
                        })
                        .catch(error => console.error('Error:', error));
                    break;
            }
        }
    });
    function executeJavaScriptInContent(html) {
        const parser = new DOMParser();
        const doc = parser.parseFromString(html, 'text/html');
        const scriptElements = doc.querySelectorAll('script');
        scriptElements.forEach(script => {
            eval(script.textContent);
        });
    }
        //   attachNavbarEventListeners(); // Attach event listeners after loading navbar

        // // Function to attach event listeners to navbar buttons
        // function attachNavbarEventListeners() {
        //     const gameBtn = document.getElementById('gameBtn');
        //     const profileBtn = document.getElementById('profileBtn');
        //     const logoutBtn = document.getElementById('logoutBtn');

        //     gameBtn.addEventListener('click', function() {
        //         console.log('Play button clicked');
        //         // Add logic for the "Play" button here
        //         fetch("/game")
        //         .then(response => response.text())
        //         .then(html => {
        //             // Insert the content of game.html into your app's container
        //             document.getElementById("content").innerHTML = html;
        //         })
        //         .catch(error => console.error('Error loading game page:', error));
        //     });

        //     profileBtn.addEventListener('click', function() {
        //         console.log('Dashboard button clicked');
        //         // Add logic for the "Dashboard" button here
        //         fetch("{% url 'userManagement:profile' %}")
        //           .then(response => response.text())
        //           .then(html => {
        //               // Insert the content of game.html into your app's container
        //               document.getElementById("content").innerHTML = html;
        //           })
        //           .catch(error => console.error('Error loading profile page:', error));
        //         });


        //     logoutBtn.addEventListener('click', function() {
        //         console.log('Logout button clicked');
        //         // Add logic for the "Logout" button here
        //         //if (isAuthenticated) {
        //           fetch("{% url 'userManagement:logout' %}", {
        //               method: "POST",
        //               headers: {
        //                   "X-CSRFToken": getCookie("csrftoken")
        //               }
        //           })
        //           .then(response => {
        //               if (response.ok) {
        //                    // If logout is successful, fetch the content of the stranger template
        //                    // Clear the content of the app's container
        //                   // const contentContainer = document.getElementById("content");
        //                   // while (contentContainer.firstChild) {
        //                   //     contentContainer.removeChild(contentContainer.firstChild);
        //                   // }
        //                   document.getElementById("content").innerHTML = '';
        //               fetch("/stranger")
        //               .then(response => response.text())
        //               .then(html => {
        //                   // Replace the content of the app's container with the HTML content of the stranger template
        //                   document.getElementById("content").innerHTML = html;
        //               })
        //               .catch(error => console.error('Error loading content:', error));
        //               } else {
        //                   // Handle logout error
        //                   console.error("Logout failed");
        //               }
        //           })
        //           .catch(error => console.error('Error:', error));
        //         //}
        //   });
          // Function to retrieve CSRF token from cookies
          function getCookie(name) {
              let cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  const cookies = document.cookie.split(';');
                  for (let i = 0; i < cookies.length; i++) {
                      const cookie = cookies[i].trim();
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }




      </script>
