<!--users/templates/registration/login.html-->

{% block content %}
{% load socialaccount %}
<div class="block">
    <form method="post" id="loginModalContainerForm">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login" class="button">
    </form>
    <div class="row">
      <div class="col">
        <a href="{% url 'userManagement:register_user' %}" class="button">Create account</a>
      </div>
      <div class="col">
        <a href="{% provider_login_url 'provider' %}" class="button">Login with 42</a>
      </div>
      <div class="col">
        <a href="{% url 'userManagement:register_guest' %}" class="button">Continue as Guest</a>
      </div>
    </div>
</div>
{% endblock %}
