{% load static %}
{% load socialaccount %}

{% block stranger %}
  <div class="welcome-container">
    <h1>Welcome Stranger</h1>
  </div>
  <div class="image-container">
    <img src="{% static 'userManagement/michael.jpg' %}" alt="Image description">
  </div>
  <div class="button-container">
        <!-- Content for non-authenticated users -->
      <button type="button" class="button" id="loginBtn">Login</button>
      <button type="button" class="button" id="registerBtn">Register</button>
      <button type="button" class="button" id="guestBtn">Continue as Guest</button>
      <button type="button" class="button" id="42Btn">Sign In with 42</button>
    </div>
    <div id="modalContainer"></div>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'userManagement/stranger.js' %}"
  	defer data-login="{% url 'userManagement:login' %}"
  	defer data-register="{% url 'userManagement:register_user' %}"
	defer data-registerguest="{% url 'userManagement:register_guest' %}"></script>
{% endblock %}