{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'pong/styles.css' %}">
    <title>Pong Game</title>
</head>
<body>
    {% csrf_token %}

    <!-- CONTENT -->
    <div id="dynamicDIV"></div>

    <script>
        function showSection(url) {  
			console.log("show section url:", url);
			//get DIV element where we want to display the new HTML
			let dynamicDIV = document.getElementById('dynamicDIV');

			//fetch HTML
            fetch(url)
            .then(response => response.text())
            .then(text => {
				//set fetched HTML in the DIV
                dynamicDIV.innerHTML = text;
				
				//try to get the script element
				let scriptElement = dynamicDIV.querySelector('script');

				//if there is a script element, attach it to the DIV
				if (scriptElement) {
					console.log("showSection: there is a script tag in the html");
					let fetchedScriptSrc = scriptElement.src;
					// Create a new script element
					let fetchedScript = document.createElement('script');
					
					// Set its src attribute to the extracted src
					fetchedScript.src = fetchedScriptSrc;
					
					// Append the script element to the body of the document
					document.body.appendChild(fetchedScript);
				} else {
					console.log("showSection: there is no script tag in the html");
				}
	
				
                console.log('Section loaded');
            });
        }

		showSection('/dashboard');
        </script>
</body>
</html>
