{% extends 'onepager/land.html' %}
{% load static %}
{% block content %}
<div id="games">
    <button class="btn buttonblue" id="create_game">Create remote game</button>
    <button class="btn buttonblue" id="create_tournament">Create tournament</button>
    <button class="btn buttonblue" id="play_ai">Play against Ai</button>
    <button class="btn buttonblue" id="play_local">Play local</button>
</div>
<div class="container" id="remote_game_list">
</div>
<div class="container my-4" id="tournament_list"></div>
{% endblock %}
{% block extra_scripts %}
<script>
(function() {
    // Define the Lobby class
    class Lobby {
        constructor(ws, username) {
            this.ws = ws;
            this.username = username;
        }

        // Other methods of the Lobby class
    }
    const username = "{{ username }}";;
    let ws;
    let lobby;
    establishWebSocketConnection();
    function establishWebSocketConnection() {
        const protocol = window.location.protocol.match(/^https/) ? 'wss' : 'ws';
        console.log(protocol + '://' + window.location.host + '/ws/pong_online/game/');
        ws = new WebSocket(protocol + '://' + window.location.host + '/ws/pong_online/game/');

        ws.onopen = function(e) {
            console.log('WebSocket connection established');
            ws.send(JSON.stringify({type: 'username', 'username': username}));
            ws.send(JSON.stringify({type: 'lobby_update', 'action': 'display'}));
            lobby = new Lobby(ws, username); // Create an instance of the Lobby class
            setUpEventListeners();
        };
        ws.onmessage = function(e) {
            handle_message(e);
        };
    }

    function setUpEventListeners() {
        document.getElementById('games').addEventListener('click', function(event) {
            const target = event.target;
            event.preventDefault();
            console.log(target.id);
            switch (target.id) {
                case 'create_game':
                    ws.send(JSON.stringify({type: 'lobby_update', 'action': 'create', 'username': username}));
                    break;
                case 'create_tournament':
                    ws.send(JSON.stringify({type: 'lobby_update', 'action': 'create_tournament', 'username': username}));
                    break;
                case 'play_ai':
                    ws.send(JSON.stringify({type: 'lobby_update', 'action': 'join', 'username': username, 'modus': 'ai'}));
                    break;
                case 'play_local':
                    ws.send(JSON.stringify({type: 'lobby_update', 'action': 'join', 'username': username, 'modus': 'local'}));
                    break;
            }
        });
    }

    function handle_message(e) {
        try {
            const data = JSON.parse(e.data);
            console.log("data from server: ", data);
            switch (data.type) {
                case 'lobby_update':
                    update_lobby(data);
                    break;
                case 'join':
                    join_game(data.modus);
                    break;
                case 'join_tournament':
                    join_tournament(data);
                    break;
                default:
                    console.log('Unknown message: ', data.type);
            }
        } catch (error) {
            console.log('Error parsing JSON:', error);
        }
    }

    function update_lobby(data)  {
        let matches_info = data.matches_info;
        let tournaments_info = data.tournaments_info;
        console.log("lobby_update tm-info: ", tournaments_info);

		let remote_game_list_DIV = document.getElementById('remote_game_list');

        let tournament_list_DIV = document.getElementById('tournament_list');

		// Check if the elements exist
		if (!remote_game_list_DIV || !tournament_list_DIV) {
			console.error("Error: Elements not found.");
			return;
		}
        //clear remote_game_list div
        remote_game_list_DIV.innerHTML = '';
        tournament_list_DIV.innerHTML = '';

        for (var match_id in matches_info) {
            ((id) => {
                var registered_users = matches_info[id];

                var matchElement = document.createElement('div');
                matchElement.innerHTML = `<div class="my-4 card">
                    <div class="card-header text-center text-white bg-purple"><h2>Match ID: ${id}</h2></div>
                    <div class="card-body">
					<p>Registered Users: ${registered_users.join(', ')}</p>
                    <button class="join btn buttonblue" data-match-id="${id}">Join Game</button></div>
                </div>`;

                remote_game_list_DIV.appendChild(matchElement);

                let joinButton = matchElement.querySelector('.join');
                joinButton.addEventListener('click', () => {
                    console.log("Join button clicked for match id: ", id);
                    ws.send(JSON.stringify({type: 'lobby_update', 'action': 'join',
                        'match_id': id, 'username': username, 'modus': 'remote'}));
                });
            })(match_id);
        }

        for (var tournament_id in tournaments_info) {
            ((id) => {
                var registered_users = tournaments_info[id];

                var tournamentElement = document.createElement('div');
                tournamentElement.innerHTML = `<div class="my-4 card">
                    <div class="card-header text-center text-white bg-purple"><h2>Tournament ID: ${id}</h2></div>
					<div class="card-body">
					<p>Registered Users: ${registered_users.join(', ')}</p>
                    <button class="join btn buttonblue" data-tournament-id="${id}">Join Tournament</button></div>
                </div>`;

                tournament_list_DIV.appendChild(tournamentElement);

                let joinButton = tournamentElement.querySelector('.join');
                joinButton.addEventListener('click', () => {
                    console.log("Join button clicked for tournament id: ", id);
                    ws.send(JSON.stringify({type: 'lobby_update', 'action': 'join_tournament',
                        'tournament_id': id, 'username': username}));
                });
            })(tournament_id);
        }
    }

    function join_game(modus) {
        ws.modus = modus;
        loadContent("/pong_online");
        history.pushState(null, null, "/pong_online");
    }

    function join_tournament(data) {
        console.log('LOAD THE TM LOBBY')
        document.body.innerHTML = '';
        loadContent('/tournament/' + data.tournament_id + '/');
        history.pushState(null, null, '/tournament/' + data.tournament_id + '/');
    }
})();

</script>
{% endblock %}
