{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'pong_online/styles.css' %}">
    <title>Pong Game</title>
</head>
<body>
    {% csrf_token %}
    <!-- HEADER -->
    <h1>PONG GAME</h1>
    <div id="loggedInMessage">Logged in as: </div>

    <div id="centeredContent">

        <!-- *** PONG GAME ***-->
        <div class="container" id="pongGamePage">
            <div id="scoreBoard">
                <div id="leftScore"></div>
				<div id="leftPlayerName">Left player: </div>
				<div id="rightScore"></div>
				<div id="rightPlayerName">Right player: </div>
            </div>
            <canvas id="pongCanvas" width="600" height="400"></canvas>
        </div>
        <button id="startButtonRemote">Remote</button>
		<button id="startButtonLocal">Local</button>
		<button id="startButtonAi">Ai</button>
		<button id="leaveGame">leaveGame_backToLobby</button>
    </div>
	<script>let username = "{{ username }}"</script>
    <script src="{% static 'pong_online/pong_online.js' %}"></script>
    
</body>
</html>
