<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #000;
            color: #fff;
            font-family: Arial, sans-serif;
        }

        canvas {
            border: 2px solid #fff;
        }
    </style>
</head>
<body>
    <div id="leftScore" style="position: absolute; left: 50%; transform: translateX(-50%); top: 10px;">0</div>
    <div id="rightScore" style="position: absolute; left: 50%; transform: translateX(-50%); top: 30px;">0</div>
    <canvas id="pongCanvas" width="600" height="400"></canvas>
    <button id="startButton">Start</button>

    <script>
		const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/pong/'
        );

        const startButton = document.getElementById('startButton');
        startButton.addEventListener('click', function() {
            let data = {'ready': true};
            chatSocket.send(JSON.stringify(data));
        });

        // server properties
        let clientId;

        let leftScore = 0;
        let rightScore = 0;
        const leftScoreElement = document.getElementById('leftScore');
        const rightScoreElement = document.getElementById('rightScore');

        const canvas = document.getElementById('pongCanvas');
        const ctx = canvas.getContext('2d');

        // Paddle properties
        const paddleWidth = 10;
        const paddleHeight = 60;
        const paddleSpeed = 5;

        let leftPaddleY = 0;
        let rightPaddleY = 0;
        let leftPaddleUpdatePos = 0;
        let rightPaddleUpdatePos = 0;

        let ballX;
        let ballY;
        let ballRadius = 10;

        function drawPaddle(x, y) {
            ctx.fillStyle = '#fff';
            ctx.fillRect(x, y, paddleWidth, paddleHeight);
        }

        function drawBall() {
            ctx.beginPath();
            ctx.arc(ballX, ballY, ballRadius, 0, Math.PI*2);
            ctx.fillStyle = "#fff";
            ctx.fill();
            ctx.closePath();
        }

        function draw() {
            // Clear the canvas
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            // Draw paddles
            drawPaddle(0, serverLeftPaddleY);
            drawPaddle(canvas.width - paddleWidth, serverRightPaddleY);
            drawBall();
            // console.log('paddle width: ', paddleWidth, 'paddle height: ', paddleHeight);
        }

		function update() {

            leftPaddleY = serverLeftPaddleY;
            rightPaddleY = serverRightPaddleY;

            if (clientId === 1)
            {
                if (keys['w'] && leftPaddleY > 0) {
                    leftPaddleY -= paddleSpeed;
                }
                if (keys['s'] && leftPaddleY < canvas.height - paddleHeight) {
                    leftPaddleY += paddleSpeed;
                }
            } else if (clientId === 2)
            {
                if (keys['ArrowUp'] && rightPaddleY > 0) {
                    rightPaddleY -= paddleSpeed;
                }
                if (keys['ArrowDown'] && rightPaddleY < canvas.height - paddleHeight) {
                    rightPaddleY += paddleSpeed;
                }
            }
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            if (data.client_id !== undefined) {
                clientId = data.client_id;
            }
            if (data.leftPaddleY !== undefined) {
                serverLeftPaddleY = data.leftPaddleY;
            }
            if (data.rightPaddleY !== undefined) {
                serverRightPaddleY = data.rightPaddleY;
            }
            if (data.ballX !== undefined) {
                ballX = data.ballX;
            }
            if (data.ballY !== undefined) {
                ballY = data.ballY;
            }
            if (data.scorePlayerLeft !== undefined) {
                leftScore = data.scorePlayerLeft;
                console.log('scorePlayerLeft:', data.scorePlayerLeft);
                leftScoreElement.textContent = leftScore;
            }
            if (data.scorePlayerRight !== undefined) {
                rightScore = data.scorePlayerRight;
                console.log('scorePlayerRight:', data.scorePlayerRight);
                rightScoreElement.textContent = rightScore;
            }
        };

        let intervalId;

        function gameLoop() {
            update();
            draw();
            requestAnimationFrame(gameLoop);
        }

        // Handle keyboard input
        const keys = {};
        window.addEventListener('keydown', (e) => {
            keys[e.key] = true;
        });

        window.addEventListener('keyup', (e) => {
            keys[e.key] = false;
        });

        chatSocket.onopen = function(e) {
            // Initialize paddle positions
            serverLeftPaddleY = canvas.height / 2 - paddleHeight / 2;
            serverRightPaddleY = canvas.height / 2 - paddleHeight / 2;

            // Start the game loop
            gameLoop();

            intervalId = setInterval(function() {
            let data = {};
            if (clientId === 1) {
                data = {'leftPaddleY': leftPaddleY};
            } else if (clientId === 2) {
                data = {'rightPaddleY': rightPaddleY};
            }
            chatSocket.send(JSON.stringify(data));
        }, 20);
        };
    </script>
</body>
</html>

