/* ---------------------------- HEADER -------------------------------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: grey;
}

.header h1 {
    margin: 0;
}


.header a {
    text-decoration: none;
    color: inherit;
}

.header button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

/* ---------------------------- CONTENT -------------------------------*/

#content {
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 20px;
}

#content button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

/* ---------------------------- FORM -------------------------------*/
form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: auto;
}

form h2 {
    text-align: center;
}

form p {
    text-align: center;
}

form input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

/* ---------------------------- GAME -------------------------------*/

canvas {
    border: 2px solid black;
}

#leftPlayerName {
    position: absolute; 
    left: 50%; 
    top:10px;
}

#rightPlayerName {
    position: absolute; 
    left: 50%; 
    top: 30px;
}

#leftScore {
    position: absolute;
    left: 40%; 
    transform: translateX(-50%); 
    top: 10px;
}

#rightScore {
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    top: 30px;
}

/* Style for the tournament */
body {
    font-family: Arial, sans-serif;
}
.tournament-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.tournament-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.tournament-players {
    margin-bottom: 20px;
}
.tournament-players ul {
    list-style-type: none;
    padding: 0;
}
.tournament-players li {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}
.round {
    margin-bottom: 30px;
}
.round-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.matches-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.match {
    margin-right: 20px;
}
.match-info {
    font-size: 16px;
}
